{% extends "layout.html" %}

{% block main %}
<div class="section">

        <h2>My analysis</h2>
        <form action="/" method="post">
            <select name="cryptos" id="cryptos">
                <option disabled selected>--Select crypto to analyze--</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="UNI">UNI</option>
            </select>
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
        <p> {{ data }} </p>

        <canvas id="chart" width="600" height="400"></canvas>
        <script>

            // bar chart data
            var lineData = {
                labels : ["A", "B", "C", "D", "E", "F", "G", "H", "I"],

                datasets : [{
                    fillColor: "rgba(151,187,205,0.2)",
                    strokeColor: "rgba(151,187,205,1)",
                    pointColor: "rgba(151,187,205,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(151,187,205,1)",
                    bezierCurve : false,
                    data : [
                    {% for price in prices %}
                        {{ price }},
                        {% endfor %}]
                    }
                ]
            }

            Chart.defaults.global.animationSteps = 50;
            Chart.defaults.global.tooltipYPadding = 16;
            Chart.defaults.global.tooltipCornerRadius = 0;
            Chart.defaults.global.tooltipTitleFontStyle = "normal";
            Chart.defaults.global.tooltipFillColor = "rgba(0,0,0,0.8)";
            Chart.defaults.global.animationEasing = "easeOutBounce";
            Chart.defaults.global.responsive = false;
            Chart.defaults.global.scaleLineColor = "black";
            Chart.defaults.global.scaleFontSize = 16;

            // get bar chart canvas
            var mychart = document.getElementById("chart").getContext("2d");

            steps = 10
            max = 70000

            // draw bar chart
            var LineChartDemo = new Chart(mychart).Line(lineData, {
                type: 'line',
                scaleOverride: true,
                scaleSteps: steps,
                scaleStepWidth: Math.ceil(max / steps),
                scaleStartValue: 0,
                scaleShowVerticalLines: true,
                scaleShowGridLines : true,
                barShowStroke : true,
                scaleShowLabels: true,
                bezierCurve: false,
            });

        </script>
</div>
{% endblock %}
