{% extends "layout.html" %}

{% block main %}
<div class="section">

        <h2>My analysis</h2>
        <form action="/" method="POST" name="crypto_select">
          <input type="hidden" name="form1">
            <select name="crypto" id="crypto">
                <option disabled selected>--Select crypto to analyze--</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="UNI">UNI</option>
            </select>
            <button name="crypto_select">Add</button>
        </form>

        <form action="/" method="POST" name="date_select">
            <input type="hidden" name="form2">
            <input type="date" name="date" id="date" min="2018-01-01"></input>
            <button name="date_select">Add</button>
        </form>

        {% for crypto in selected_cryptos %}
        <p> {{ crypto }} </p>
        {% endfor %}

        <p> {{ date_selected }} </p>

        <div>
          <canvas id="chart" width="400" height="400"></canvas>
        </div>

        {% for row in values %}
          <p>
          {{ values[row]|safe }}
          </p>
        {% endfor %}


        <script>
          const ctx = document.getElementById('chart').getContext('2d');
          const myChart = new Chart(ctx, {
              type: 'line',
              data: {
                  labels: {{ timestamps|safe }},
                  datasets: [
                    {% for row in values %}
                     {
                      label: '{{ row }}',
                      data: {{ values[row]|safe }},
                      borderWidth: 1
                    },
                    {% endfor %}
                  ]
              },
              options: {
              }
          });
        </script>
</div>
{% endblock %}
