{% extends "layout.html" %}

{% block main %}
<div class="container-fluid">
  <div class="row">
      <div id="left-column" class="col-3">
        <h2>Crypto price evolution</h2>
        <form action="/" method="POST" name="crypto_select">
          <input type="hidden" name="form1">
          <label class="form-label">Add crypto to analyze</label>
          <select class="form-control" name="crypto" id="crypto">
              <option disabled selected>--Select crypto--</option>
              <option value="BTC">BTC</option>
              <option value="ETH">ETH</option>
              <option value="LTC">LTC</option>
              <option value="LINK">LINK</option>
              <option value="XRP">XRP</option>
              <option value="SHIB">SHIB</option>
              <option value="ADA">ADA</option>
              <option value="ATOM">ATOM</option>
              <option value="DOT">DOT</option>
              <option value="DOGE">DOGE</option>
              <option value="SOL">SOL</option>
              <option value="UNI">UNI</option>
          </select>
          <button type="submit" class="btn btn-primary" name="crypto_select">Add</button>
        </form>
        <p>Cryptos already selected:</p>
        <div>
        {% for crypto in selected_cryptos %}
          <div class="div-flex-middle">
            <span id="cryptosymbol">{{ crypto }}</span>
            <form action="/" method="POST" name="crypto_unselect" class="form_remove">
              <input type="hidden" name="form3">
              <input type="hidden" name="crypto_to_unselect" value="{{ crypto }}">
              <input type="image" id="delete_image" name="crypto_unselect" src="/static/001-fermer.png">
            </form>
          </div>
        {% endfor %}
        </div>

        <form action="/" method="POST" name="date_select">
            <input type="hidden" name="form2">
            <label class="form-label">Select analysis start date <br> <i><span style="color: grey">(currently: {{ timestamps[0] }})<span></i></label>
            <input class="form-control" type="date" name="date" id="date" max="{{ max_date }}" min="2020-01-01"></input>
            <button type="submit" class="btn btn-primary" name="date_select">Change</button>
        </form>

      </div>
      <div id="right-column" class="col-9">

        <p class="p-centered">Asset value vs. USD</p>
            <div class="small text-center">
                Data provided for free by <a href="https://www.cryptodatadownload.com/data/binance/">Cryptodatadownload.com</a>.
            </div>
            <div>
                <canvas id="chart"></canvas>
            </div>

            <script>
              const ctx = document.getElementById('chart').getContext('2d');
              const myChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                      labels: {{ timestamps|safe }},
                      datasets: [
                        {% for row in values %}
                         {
                          label: '{{ row }}',
                          data: {{ values[row]|safe }},
                          tension: 0.3,
                          backgroundColor: "{{ colors[row] }}",
                          borderColor: "{{ colors[row] }}",
                          borderWidth: 1
                        },
                        {% endfor %}
                      ],
                  },
                  options: {
                  }
              });
            </script>

        <div style="margin-top: 30px" id="asset_data">
          <p style="margin-left: 50px"> Valuation change over the period: </p>
          {% for crypto in selected_cryptos %}
            <div class="individual_crypto_data">
              <p style="font-size: 26px" id="{{ crypto }}"> {{ crypto }} </p>
              <p class="p-nomargin" id="{{ crypto }}_change"></p>
            </div>
          {% endfor %}
        </div>
        <script>
        document.addEventListener('DOMContentLoaded', (event) => {
          for (let i = 0; i < myChart.data.datasets.length; i++) {
            let crypto_div = document.getElementById(myChart.data.datasets[i].label);
            crypto_div.style.color = myChart.data.datasets[i].backgroundColor;

            let len = myChart.data.datasets[i].data.length;
            let variation = math.round(-1 + (myChart.data.datasets[i].data[len - 1] / 100), 2) * 100;

            let crypto_name = myChart.data.datasets[i].label;
            crypto_name = crypto_name + '_change';
            crypto_name = document.getElementById(crypto_name);

            crypto_name.innerHTML = variation + '%';
            crypto_name.style.color = myChart.data.datasets[i].backgroundColor;

            }
          })
        </script>
        </div>
    </div>
</div>

{% endblock %}
